#auriculares {
    animation: flotating 5s ease-in-out infinite
}

@keyframes flotating {
    50% {
        transform: translateY(20px);
    }
}

#note1,
#note2,
#note4,
#note3,
#note5 {
    animation: changecolor 3s infinite;
}

@keyframes changecolor {
    50% {
        transform: translateY(10px);

    }

}

#vinilo {
    animation: rotate 20s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);

    }

}